<main class= "phone-item-main">
  <article class="phone-item-big-image" >
    <figure><img id="view-img"  src="{{ '../../assets/img/phones/' + phoneId + '.0.jpg'}}" alt="{{chosenPhone.name}}"></figure>
  </article>
  <article class="phone-item-info"><h1>{{ chosenPhone.name }}</h1>
    <hr>
    <p>{{ chosenPhone.description }}</p>


    <section
      class="show-images"

    >
    <ul *ngFor="let image of chosenPhone.images"><li>
      <figure class="phone-item-info--small-img">
        <img  (click)="changeImg($event)" src="{{ '../../assets/' + image}}" />
      </figure>
    </li></ul>





    </section>


  </article>

</main>

<article class="info">
  <section class="availability">
    <h2 class="info-h2">Availability and Networks</h2>
    <h3 class="info-h3">Availability</h3>
    <p *ngIf="chosenPhone.availability==''">
      <fa-icon [icon]="faMinus"></fa-icon>

    </p>
    <ul *ngFor="let option of chosenPhone.availability">
      <li>{{ option }}</li>
    </ul>
  </section>

  <section class="battery">
    <h2 class="info-h2">Battery</h2>
    <h3 class="info-h3">Type</h3>
    <p>{{ chosenPhone.battery.type }}</p>
    <h3 class="info-h3">Talk time</h3>
    <p>{{ chosenPhone.battery.talkTime }}</p>
    <h3 class="info-h3">Standby time (max)</h3>
    <p>{{ chosenPhone.battery.standbyTime }}</p>
  </section>
  <section class="storage-memory">
    <h2 class="info-h2">Storage and Memory</h2>
    <h3 class="info-h3">RAM</h3>
    <p>{{ chosenPhone.storage.ram }}</p>
    <h3 class="info-h3">Internal Storage</h3>
    <p>{{ chosenPhone.storage.flash }}</p>
  </section>
  <section class="connectivity">
    <h2 class="info-h2">Connectivity</h2>
    <h3 class="info-h3">Network Support</h3>
    {{ chosenPhone.connectivity.cell }}
    <h3 class="info-h3">Bluetooth</h3>
    <p>{{ chosenPhone.connectivity.bluetooth }}</p>
    <h3 class="info-h3">Infrared</h3>

    <div *ngIf="chosenPhone.connectivity.infrared; else elseBlock">
      <fa-icon [icon]="faCheck"></fa-icon></div>
      <ng-template #elseBlock>
        <fa-icon [icon]="faMinus"></fa-icon>
        </ng-template
      >
    <h3 class="info-h3">GPS</h3>
    <div *ngIf="chosenPhone.connectivity.gps; else elseBlock">
    <fa-icon [icon]="faCheck"></fa-icon></div>
      <ng-template #elseBlock>
        <fa-icon [icon]="faMinus"></fa-icon>
        </ng-template
      >

  </section>
</article>

<button class="btn btn-primary" (click)="goBack()">Go back</button>
