.flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-parent > * {
  flex-basis: 0px;

  order: 2;
}

.search--sort {
  flex-grow: 1;
  margin-left: 1rem;

}

.search {
  margin-bottom: 0.5rem;
}

.phones-list-section {
  flex-grow: 3;

}

.phones-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.li-phone {
  flex-basis: 0px;
  flex-grow: 1;
  order: 2;
  list-style: none;
  border-style: ridge;
  padding: 1rem;
}

.phones-list-li-img {
  float: left;
}



img:hover {
  width: 300px;
  height: 280px;
}

.phones-list-li-text {
  margin-left: 2rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 425px) {
  .flex-parent {
    flex-direction: column;
    flex-wrap: wrap;
    flex-wrap: nowrap;

  }

  .flex-parent > * {
    flex-grow: 1;
  }
}
