<article class ="flex-parent">
<aside class="search--sort">

  <section class="search">
    <label class="label">Search:</label>
    <input class="input" (input)="onSearch($event)" type="text" />

<div class="m-3"
*ngIf="soughtPhone==filter; else elseBlock">
 <p class="card bg-light m-1 p-3"> {{soughtPhone}}</p>
</div>
<ng-template #elseBlock>No search results</ng-template>
  </section>


  <section class="sort">
    <label class="label">Sort by:</label>
    <select class="select" (change)="sortBy($event)">
      <option value="age">Newest</option>
      <option value="name">Alphabetical</option>


    </select>




  </section>

</aside>

<section class="phones-list-section">

<ul class="phones-list" *ngFor='let phone of productsList'>
  <li class="li-phone">
  <img src= '{{"../../assets/"+ phone.imageUrl}}'
  alt = '{{phone.name}}' height = "150" width = "140">


  <p><a href="">{{phone.name}}</a></p>
  <p>{{phone.snippet}}</p>
</li>
 </ul>
</section>
</article>
